Ballz/.vs
Ballz/Library
Ballz/obj
Ballz/Logs
Ballz/Temp
Ballz/UserSettings
Ballz/Build
Ballz/.vsconfig
*.cache
/Ballz/.utmp
Ballz/Ballz.zip
Ballz/Ballz.apk
/Ballz/Ballz_BurstDebugInformation_DoNotShip
Ballz/Assembly-CSharp.csproj

Ballz/Assets/AddressableAssetsData/*/*.bin
Ballz/Assets/AddressableAssetsData/*/*.hash
Ballz/Assets/AddressableAssetsData/*/*.bundle